name: Run the example tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out project
        uses: actions/checkout@v4

      - name: Change to app directory
        run: cd app

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Clean install the project
        working-directory: ./app
        run: npm ci

      - name: Install Playwright
        working-directory: ./app
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        working-directory: ./app
        run: npx playwright test ../tests/example.spec.ts ../tests/demo-todo-app.spec.ts

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: app/playwright-report/
          retention-days: 30